.profile {
    max-width: 400px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 10px;

    overflow: hidden;
    border-radius: 10px;
    background-color: rgb(240, 238, 247);
    border: 3px solid gray;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.description {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.avatar {
    width: 250px;
    margin-bottom: 20px;

    border-radius: 50%;
    background-color: rgb(196, 200, 189);
}

.name {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.tag,
.location {
    margin-bottom: 10px;
    color: rgba(0, 0, 0, 0.5);
}

.stats {
    display: flex;
    background-color: powderblue;
}
.stats {
    display: flex;
    justify-content: space-between;
    padding: 0%;
    background-color: rgb(189, 71, 67);
    border: 1px solid gray;
    overflow: hidden;
    border-radius: 5px;
}

.stats>li {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 33.3%;
    padding: 10px 0;
    border: 1px solid gray;
}

.label {
    font-weight: 400;
}

.quantity {
    font-weight: bold;
}

